<%- include("partials/head.ejs") %>
<%- include("partials/navbar.ejs") %>

<main class="container mt-4 main min-vh-100">
<h1><%= BlogName %></h1>
<p><%= Content %></p>
</main>

<%- include("partials/footer.ejs") %>